* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}

h1.h2.h3.h4,
p {
    margin: 0;
}

.main-header {
    padding: 10px 90px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
}

.text-logo {
    font-size: 44px;
    font-weight: 700;
    color: #3a416f;
}

.navbar-nav .nav-link {
    font-size: 16px;
    color: #111;
}

.top-nav a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    background-color: #269124;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.top-nav .row .col-md-6 {
    padding: 0;
}

.top-nav a.active {
    background-color: #2adf26;
    color: #fff !important;
}

.active {
    color: #2adf26 !important;
    font-weight: 500;
}

.logIn-btn {
    padding: 10px 25px !important;
    border-radius: 6px;
    background-color: #2adf26;
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.logo {
    width: 200px;
}

.hero-section {
    height: calc(100vh - 90px);
}

.sub-hero {
    height: 300px;
    background-image: linear-gradient(#2d332a79, #3f443a9f), url(./assets/img/matrice-matrix-monitor-multi-wallpaper-thumb.jpg);
    background-position: center;
    background-size: cover;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    /* Ensure content appears above video */
    /* Add styling for your content */
}

.content h1 {
    box-shadow: 0.6em 0 0 #2adf26;
    margin: 2rem 1rem;
    width: 100%;
    overflow: hidden;
    color: #5fe25c;
    white-space: nowrap;
    animation: caret 0.5s step-end infinite, type 5s steps(25, end);
}

.content h1 span {
    display: inline-block;

    font-weight: 600;
}

@keyframes type {
    0% {
        width: 0;
    }
}

@keyframes caret {
    50% {
        box-shadow: 0.6em 0 0 transparent;
    }
}

.section {
    padding: 50px 0;
}

.section-title {
    margin-bottom: 30px;
}

.section-title h2 {
    color: #2adf26;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}

.section-title .title-p {
    font-size: 30px;
}

.section-box {
    padding: 30px;

}

.section-box-one {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.section-box p {
    font-size: 20px;
    font-weight: 500;
    color: #111;
    line-height: 34px;
}

.section-box-two {
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.section-three {
    height: 80vh;
    background-image: url(./assets/img/AdobeStock_223711774\ \(1\).jpeg);
    background-position: center;
    background-size: cover;
    padding: 0;
}

/* .mask {
    position: absolute;
    background-position: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: linear-gradient(310deg, #181f0f, #31411a);
    z-index: 1;
} */

.background-effect {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 11;

}

.background-effect::before,
.background-effect::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.863) 0%, rgba(211, 209, 209, 0.884) 100%);
    filter: blur(16px);
}

.background-effect::before {
    top: -20px;
}

.background-effect::after {
    bottom: -20px;
}

.section-four {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.section-box-four p {
    margin-bottom: 20px;
}

.section-five-sub-title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.section-five-desc {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;


}

.section-seven {
    height: 90vh;
    background-color: #000;
}

.section-eight-box {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.section-eight-sub-title h3 {
    color: #2adf26;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.section-nine {
    height: 90vh;
    background-color: #000;
}

.section-ten-seb-title h3 {
    color: #2adf26;
    font-size: 34px;
    font-weight: 700;
    text-align: right;
}

.section-ten-seb-title h3 a {
    color: #2adf26;
}

.section-eleven-bg {
    height: 80vh;
    background-image: url(./assets/img/AdobeStock_514902861\ \(1\).jpeg);
    background-position: center;
    background-size: cover;
    padding: 0;
    position: relative;
}

.section-eleven-bg::before,
.section-eleven-bg::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.863) 0%, rgba(211, 209, 209, 0.884) 100%);
    filter: blur(16px);
}

.section-eleven-bg::before {
    top: -20px;
}

.section-eleven-bg::after {
    bottom: -20px;
}

.auth-section {
    padding: 100px 0;
    margin-top: -250px;
}

.auth-box {
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.15));
    box-shadow: 0 0 1rem 0 rgba(156, 167, 180, 0.20);
    padding: 35px 40px;
    background-color: #fff;
    border-radius: 8px;
}

.auth-box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.auth-box-title img {
    width: 40%;
}

.auth-box-title h2 {
    color: #2adf26;
    font-size: 34px;
    font-weight: 700;
    text-align: right;
}

.auth-box-title .icon-box {
    width: 50px;
    height: 50px;
    background-color: #f7f7f7;
    border-radius: 50px;
    display: flex;

    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #5c5c5c;
}

.auth-box-title .icon-box svg {
    width: 25px;
}

.auth-form {
    width: 100%;
    margin-bottom: 15px;
}

.auth-form label {
    display: block;
    font-size: 14px;
    color: #5c5c5c;
    font-weight: 600;
    margin-bottom: 5px;
}

.auth-form input,
.auth-form select {
    width: 100%;
    outline: none;
    background-color: transparent;
    padding: 9px 10px;
    border-radius: 6px;
    border: 1px solid #dddddc;
}

.auth-footer {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.auth-footer a {
    padding: 10px 25px !important;
    border-radius: 6px;
    background-color: #2adf26;
    color: #fff !important;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.auth-footer button {
    padding: 10px 25px !important;
    border-radius: 6px;
    background-color: #2adf26;
    color: #fff !important;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.auth-footer a {
    font-size: 16px;
    color: #5c5c5c;
}

.error-message {
    color: rgb(212, 17, 27);
}

.bg-brand {
    background-color: #2adf26 !important;
}

.pc-section {
    padding: 50px 0;
}

.pc-section .box {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
}

.pc-section .box .pc-solde {
    font-size: 14px;
    color: #003087;
    border-bottom: 1px solid #003087;
    display: inline;
    font-weight: 500;
}

.pc-section .pc-content {
    margin: 15px 0;
}

.pc-section .pc-content h2 {
    font-size: 44px;
    font-weight: 600;
    color: #003087;
}

.pc-section .pc-content p {
    font-size: 12px;
    color: #003087;
    font-weight: 400;
}

.pc-btn {
    padding: 5px 15px;
    background-color: #003087;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 40px;
}

.pc-search {
    margin: 30px 0;
}

.pc-search svg {
    color: #003087;
}

.pc-search .search {
    width: 80%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;

}

.pc-search .search input {
    width: 95%;
    border: none;
    outline: none;

}

.pc-filter {
    margin-bottom: 20px;
}

.pc-filter-lable {
    font-size: 14px;
    color: #003087;
    margin-bottom: 10px;
}

.filter-item button {
    padding: 10px 15px;
    border-radius: 40px;
    color: #003087;
    border: 1px solid #003087;
    outline: none;
    background-color: transparent;
}

.filter-item button.active {
    background-color: #b9effc;
    border-color: transparent !important;
    color: #003087 !important;
    font-weight: 400;
}


.pc-termine {
    margin-bottom: 10px;
}

.pc-termin-lable {
    font-size: 14px;
    font-weight: 700;
    color: #003087;
    margin-bottom: 15px;
}

.pc-termin-date {
    font-size: 14px;
    color: #5c5c5c;
}

.pc-termine-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #dddddc;
    padding: 20px 15px;
    border-radius: 6px;
    margin-top: 10px;
}

.pc-termine-item-icon {
    width: 40px;
    height: 40px;
    background-color: #003087;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}



.pc-termine-item-content h3 {
    font-size: 20px;
    font-weight: 700;
    color: #061b44;
    margin-bottom: 0px;
}

.pc-termine-item-content p {
    font-size: 14px;
    color: #061b44;
}

.pc-termine-positive-price {
    font-size: 18px;
    font-weight: 600;
    color: #269124;
}

.pc-termine-nagetive-price {
    font-size: 18px;
    font-weight: 600;
    color: #5c5c5c;
}

.acount-setup-section {
    padding: 50px 0;
    background-color: #f7f7f7;
}

.profile {
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
}

.cover-photo {
    height: 200px;
    background-color: #0544b5;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cover-photo h2 {
    font-size: 16px;
    color: #fff;
}

.cover-photo p {
    font-size: 16px;
    color: #fff;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #061b44;
    color: #003087;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transform: translate(25px, -57px);
}

.profile-content {
    padding: 20px;
    margin-top: -60px;

}

.profile-content h3 {
    font-size: 24px;
    font-weight: 700;
    color: #269124;
}

.option-de-complete {
    margin-top: 15px;
}

.option-de-complete h3 {
    font-size: 18px;
    color: #111;
    margin: 15px 0;
}

.option-de-complete-box {
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
}

.option-de-complete-item {
    padding: 10px 10px;
    border: 1px solid #bebdbd;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.option-de-complete-item label {
    font-size: 14px;
    color: #868686;
}

.option-de-complete-item select {
    font-size: 14px;

    border: none;
    outline: none;
    background-color: transparent;

}

.nationalite label {
    font-size: 14px;
    color: #868686;
}

.nationalite p {
    font-weight: 500;
}

.fermer-votre {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #dfdede;
    border-radius: 6px;
    color: #003087;
    gap: 10px;
    margin-top: 15px;
}

.adresses-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

}

.adresses-title h3 {
    font-size: 18px;
    color: #111;
}

.adresses-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 15px;
    border: 1px solid #003087;
    color: #003087;
    font-weight: 500;
    background-color: transparent;
    border-radius: 40px;
    font-size: 14px;

}

.adresses-btn svg {
    width: 18px;
}

.adresses-box-one {
    background-color: #fff;
    border-radius: 6px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adresses-box-left {
    display: flex;
    align-items: center;
    gap: 8px;

}

.adresses-box-left svg {
    color: #003087;
    width: 18px;
}

.adresses-box-left span {
    padding: 2px 8px;
    background-color: #dbdde0;

    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
}

.adresses-box-right h3 {
    font-size: 16px;
    font-weight: 700;
    color: #0544b5;
}

.adresses-box-two {
    background-color: #fff;
    border-radius: 6px;

}

.adresses-box-two-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
}

.adresses-box-two-left {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.adresses-box-two-left-content span {
    padding: 2px 8px;
    background-color: #dbdde0;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}

.adresses-box-two-left-content p {
    font-size: 12px;
    font-weight: 400;
    color: #868686;
}

.adresses-box-two-left svg {
    color: #003087;
    width: 18px;
}

.adresses-box-two h3 {
    font-size: 16px;
    font-weight: 700;
    color: #0544b5;
}

.adresses-box-three {
    margin-top: 15px;
}

.adresses-box-three h3 {
    font-size: 18px;
    color: #111;
}

.adresses-box-three-item {
    padding: 25px 15px;
    text-align: center;
    border-radius: 8px;
    background-color: #ffff;
}

.adresses-box-three-item {
    font-size: 18px;
    color: #111;
    font-weight: 700;
}

.notification-box {
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
}

.notification-box-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.notification-box-header img {
    width: 100px;
}

.notification-box-header h3 {
    font-size: 24px;
    font-weight: 600;
}

.notification-box-header p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.notification-box-pe {
    width: 80%;
    margin: 20px auto;

}

.notification-box-pe-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 15px 15px;
    border: 1px solid #bebdbd;
    border-radius: 6px;
}

.notification-box-pe-item svg {
    width: 20px;
    color: #003087;
    margin-top: 5px;
}

.notification-box-pe-item label {
    font-size: 14px;
    color: #868686;
}

.notification-box-pe-item p {
    font-size: 14px;
    color: #5c5c5c;
}

.notification-box-pement {
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
}

.notification-box-pement h3 {
    font-size: 18px;
    font-weight: 700;
}

.notification-box-pement input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.notification-box-pement label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 22px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.notification-box-pement label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.notification-box-pement input:checked+label {
    background: #bada55;
}

.notification-box-pement input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-124%);
}

.notification-box-pement label:active:after {
    width: 50px;
}

@media only screen and (max-width: 768px) and (min-width: 200px) {
    .main-header {
        padding: 10px;
    }

    /* .logo {
        width: 100%;
    } */

    .navbar {
        flex-wrap: nowrap;
    }

    .content h1 {
        font-size: 16px;
    }

    .content h1 span {
        padding: 0;
    }

    .section-title h2 {
        font-size: 22px;
    }

    .section-box-one,
    .section-box-two,
    .section-box {
        width: 100%;
        padding: 0;
    }

    .section {
        padding: 30px 0;
    }

    .section-three,
    .section-seven,
    .section-nine {
        height: 40vh;
        padding: 0;
    }

    .section-title .title-p,
    .section-ten-seb-title h3 {
        font-size: 18px;
        text-align: center;
    }

    .section-five-sub-title {
        font-size: 22px;
        font-weight: 600;
    }

    img {
        width: 100%;
    }

    .section-ten img {
        width: 50%;
    }

    .hero-section {
        height: 40vh;
    }

    .auth-section {
        padding: 50px 0;
    }

    .auth-box {
        padding: 20px;
    }

    .auth-box-title {
        padding-bottom: 8px;
    }

    .auth-box-title h2 {
        font-size: 24px;
    }
}